<div class="container">
  <div class="panel panel-default">
    <div class="panel-body" id='home'>
      <div class="logo">
        <img src="img/marvel-logo.jpg" alt="">
      </div>
      <div class="welcome">
        <p>Explore the wonders of the Marvel Universe through this application. Whether you are looking for exciting comics or tremendous creators, find what you are looking for using the <a href="https://developer.marvel.com/">Marvel API!</a></p>
      </div>
      <div class="choice row">
        <div class="creators-wrapper col-xs-12 col-sm-6">
          <a href="/creators">
            <div class="icon-creator glyphicon glyphicon-pencil"></div>
            <p>Awesome Creators</p>
          </a>
        </div>
        <div class="comics-wrapper col-xs-12 col-sm-6">
          <a href="/comics">
            <div class="icon-comic glyphicon glyphicon-book"></div>
            <p>Fantastic Comics</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
